ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

:active :hover :focus {
  outline: 0;
  outline-offset: 0;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

h1, h2, h3 {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
}