$text-color:#22253B;
$accent-blue: #38BFF2;
$accent-orange:#F15525;

$animation-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);


.hero {
  text-align: center;
  padding-top: 24px;

  @media screen and (min-width: $desktop){
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hero__container{
  @media screen and (min-width: $desktop){
    display: flex;
  }
}

.hero__title {
  max-width: 263px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  color: $text-color;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%; /* 100% */

  strong {
    margin-left: 5px;
    margin-right: 5px;
  }

  @media screen and (min-width: $desktop){
    margin:  0 0 28px 0;
    font-size: 46px;
    font-weight: 500;
    line-height: 1;
    max-width: 100%;
    text-align: start;

  }
}

.hero__span {
  color: $accent-orange;

  &--marginR {
    margin-right: 4px;
  }
}


.hero__slogan {
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 1.5; /* 150% */
}

.hero__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin-right: auto;
  margin-left: auto;

  transition: background-color $animation-cubic;
  background-color: $accent-orange;

  border-radius: 35px;
  color: #fff;
  font-size: 18px;
  line-height: 96.7%; /* 17.404px */
  letter-spacing: -0.54px;

  &:focus,
  &:hover {
    background-color: $accent-blue;
  }
  @media screen and (min-width: $desktop){
    width: 288px;
    margin-right: auto;
    margin-left: 0;

    border-radius: 82px;
    font-size: 20px;
    line-height: 96.69%;
    letter-spacing: -.03em;
  }

}

.icon-arrow-top {
  margin-left: 7px;
  height: 15px;
  width: 15px;

  @media screen and (min-width: $desktop){
    margin-left: 15px;
  }
}

.hero__img {
  display: flex;
  align-items: center;
  margin-top: 93px;
  margin-left: auto;
  margin-right: auto;
  width: 246.667px;
  height: 239.905px;
  border-radius: 257.667px;

  //  border: 2px solid #FFF;
  //background: linear-gradient(260deg, #fff -31.68%, rgba(255, 255, 255, 0) 87.52%), rgba(255, 255, 255, 0.3);
  //box-shadow: 0 30px 100px 0 rgba(0, 129, 170, 0.06);
  //backdrop-filter: blur(30px);

  @media screen and (min-width: $desktop){
    margin-top: 4px;
    margin-left: 114px;
    margin-right: 0;
    width: 397px;
    height: 410px;

    backdrop-filter: none;

  }

  div {
    background-image: url("../images/hero.svg");
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 219px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $desktop){
      width: 396px;
      height: 413px;
    }

  }
}


