.price{
  padding-bottom: 30px;
}
.price__list{
  @media screen and (min-width: $desktop){
    display: grid;
    grid-template-columns: minmax(auto,391px) minmax(auto,252px) minmax(auto,380px);
    margin-bottom: 30px;
    grid-column-gap: 69px;
  }
}
.price__li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &:not(:last-child) {
    margin-bottom: 25px;
    @media screen and (min-width: $desktop){
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $desktop){
    flex-direction: row;
    gap: 30px;
  }
}

.price__title {
  margin-bottom: 45px;
}

.price__icon {
  width: 55px;
  height: 55px;
  @media screen and (min-width: $desktop){
    &1{
      width: 180px;
      height: 61px;
    }
    &2{
      width: 137px;
      height: 59px;
    }
    &3{
      width: 142px;
      height: 56px;
    }
  }
}

.price__text {
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  max-width: 80%;

  @media screen and (min-width: $desktop){
    text-align: start;
    font-size: 16px;
    line-height: 21px;
  }
}


.price-table {
  //overflow-x: scroll;
  display: flex;
  justify-content: center;
  margin-top: 45px;
  padding: 15px 0;
  background-color: white;
  border-radius: 30px;
  @media screen and (min-width: $desktop){
    padding: 38px 42px;
    margin-top: 30px;
  }
}

.price-table__table {
  border-collapse: collapse;
  @media screen and (min-width: $desktop){
    width: 100%;
  }
}


.price-table__row {
  display: flex;
  border-radius: 10px;

  &:nth-of-type(2n) {
    background-color: #F3F3F3;
  }
}

.price-table__col {
  padding: 12px 19px 13px;
  width: 34%;
  font-size: 13px;
  line-height: 25px;

  @media screen and (min-width: $desktop){
    padding: 16px 19px 15px;
    font-size: 20px;

    &--w46{
      width: 46%;
    }
  }

  &--blue {
    padding: 0 15px 15px;
    font-weight: 700;
    font-size: 15px;
    color: $accent-blue;
    line-height: 1;
    @media screen and (min-width: $desktop){
      font-size: 16px;
      line-height: 25px;
    }
  }

  &--bold {
    font-size: 20px;
    font-weight: 600;
    @media screen and (min-width: $desktop){
      font-size: 24px;
      line-height: 25px;
      font-weight: 700;
    }
  }
}

.price-slogan {
  margin-top: 30px;
  padding: 42px 25px 45px;
  text-align: center;
  border-radius: 30px;
  background-color: #eaf2f5;

  @media screen and (min-width: $desktop){
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 65px 54px;

    li:nth-child(2){
      max-width: 57%;
    }
  }

  li:not(:last-child) {
    margin-bottom: 14px;
    @media screen and (min-width: $desktop){
      margin-bottom: 0;
    }
  }


}

.price-slogan__icon {
  width: 76px;
  height: 68px;
  @media screen and (min-width: $desktop){
    width: 91px;
    height: 91px;
  }
}

.price-slogan__text {
  max-width: 100%;
  font-size: 12px;
  line-height: 22px;

  @media screen and (min-width: $desktop){
    text-align: start;

    font-size: 17px;
  }
}

.price-slogan__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 53px 21px 51px;

  width: 100%;
  transition: background-color $animation-cubic;
  background-color: $accent-orange;

  border-radius: 35px;
  color: white;
  font-size: 15px;
  line-height: 96.7%; /* 17.404px */
  letter-spacing: -.03em;

  @media screen and (min-width: $desktop){
    padding: 26px 62px 25px 58px;
    width: auto;
    font-size: 20px;
  }

  &:focus,
  &:hover {
    background-color: $accent-blue;
  }
}