.footer {
  padding-top: 31px;
}

.footer__wrapper{
  @media screen and (min-width: $desktop){
    display: grid;
    grid-template-columns: 50% 25% 25%;
    padding-bottom: 45px;
    border-bottom: 1px solid #D8D8D8;
  }
}

.footer__social {
  margin-bottom: 38px;

  li {
    display: flex;
    justify-content: center;
    @media screen and (min-width: $desktop){
      justify-content: start;
    }
  }

  li:not(:last-child) {
    margin-bottom: 22px;
  }
}

.footer__logo {
  width: 88px;
  height: 32px;
}

.footer__text {
  padding-left: 18px;
  font-size: 16px;
  line-height: 19px;
  color: #8e8e8e;
}

.footer__link {
  display: flex;
  align-items: center;
  padding: 7px;
  width: 35px;
  height: 35px;

  border-radius: 25px;
  background-color: $text-color;
  transition: background-color $animation-cubic;

  &:focus,
  &:hover {
    background-color: $accent-orange;
  }

  &:not(:last-of-type) {
    margin-right: 16px;
  }
}

.footer__icon {
  width: 22px;
  height: 22px;
}

.footer-nav {
  margin-bottom: 40px;
  text-align: center;
  @media screen and (min-width: $desktop){
    justify-self: end;
    margin-right: 42px;
    text-align: start;
    margin-bottom: 0;
  }


  li:not(:last-child) {
    margin-bottom: 15px;
  }
}

.footer-nav__link {
  font-size: 13px;
  line-height: 1.5;
  transition: color $animation-cubic;

  &:focus,
  &:hover {
    color: $accent-orange;
  }
}

.footer-cont {
  padding-bottom: 32px;
  margin-bottom: 28px;
  text-align: center;
  border-bottom: 1px solid #D8D8D8;
  @media screen and (min-width: $desktop){
    border-bottom: none;
    justify-self: end;
    text-align: start;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  li:not(:last-child) {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;

    font-size: 16px;
    line-height: 23px;
  }
}

.footer-cont__phone {

  color: $accent-blue;
  transition: color .3s;

  &:focus,
  &:hover {
    color: $accent-orange;
  }
}

.footer-cont__mail {
  transition: color .3s;

  &:focus,
  &:hover {
    color: $accent-orange;
  }
}

.footer-cont__info {
  font-size: 13px;
  line-height: 23px;
  color: #8e8e8e;
}

.footer-btm {
  text-align: center;
  font-size: 12px;
  line-height: 23px;
  @media screen and (min-width: $desktop){
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 28px;
    padding-bottom: 32px;

    font-size: 16px;
    line-height: 23px;
    color: #8e8e8e;
  }

  p {
    margin-bottom: 13px;
    color: #8e8e8e;
    @media screen and (min-width: $desktop){
      margin-bottom: 0;
      margin-right: auto;
    }

  }
}

.footer-btm__meta {
  display: block;
  color: $accent-orange;
  transition: color $animation-cubic;
  @media screen and (min-width: $desktop){
    color: #8e8e8e;
  }

  &:focus,
  &:hover {
    color: #000000;
  }
  
  &--margin {
    margin-bottom: 5px;
    @media screen and (min-width: $desktop){
      margin-right: 66px;
      margin-bottom: 0;
    }
  }
}