$text-color:#22253B;
$accent-blue: #38BFF2;
$accent-orange:#F15525;

$animation-cubic: 250ms cubic-bezier(0.4, 0, 0.2, 1);

.header {
  width: auto;
  height: 41px;
  padding-left: 14px;
  padding-right: 12px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 7px;
  border-radius: 75px;
  background: rgba(255, 255, 255, 0.90);
  backdrop-filter: blur(7.5px);

  @media screen and (min-width: $desktop) {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    height: 51px;
  }

}

.header__container {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $desktop){
    justify-content: normal;
    height: 51px;
  }

}

.logo{
  @media screen and (min-width: $desktop){
    margin-left: 10px;
    margin-right: 76px;
  }
}


.logo__icon {
  width: 40px;
  height: 15px;

  @media screen and (min-width: $desktop){
    width: 53px;
    height: 20px;
  }
}





.main-nav{
  display: none;

  @media screen and (min-width: $desktop){
    display: block;
  }
}

.main-nav__list{
  display: flex;
  gap: 47px;
}

.main-nav__link{
  font-size: 13px;
  line-height: 1.1;
  transition: color $animation-cubic;

  &:hover,
  &:focus{
    color: $accent-orange;
  }
}

.header__buttons{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}

.login-btn {
  display: none;
  align-items: center;
  padding: 9px 17px 8px 12px;

  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  background-color: $accent-blue;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color $animation-cubic;

  &:focus,
  &:hover {
    background-color: $accent-orange;
  }

  @media screen and (min-width: $desktop){
    display: flex;
  }
}

.login-btn__icon {
  margin-right: 5px;
  width: 9px;
  height: 9px;

  @media screen and (min-width: $desktop){
    margin-right: 2px;
    width: 13px;
    height: 12px;
  }
}

.sign-up{
  display: none;
  font-size: 13px;
  line-height: 1.1;
  transition: color $animation-cubic;

  &:hover,
  &:focus{
    color: $accent-orange;
  }

  @media screen and (min-width: $desktop){
    display: block;
  }
}

///////////MOB-NAV

.menu-btn {
  height: 14px;
  background-color: transparent;

  @media screen and (min-width: $desktop){
    display: none;
  }
}

.mob-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  display: block;
  padding: 14px 10px 14px 54px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  transition: visibility .3s, z-index .5s;

  &.is-open {
    z-index: 10;
    visibility: visible;

    .mob-nav__overlay {
      opacity: 1;
      transition: opacity .3s;
    }

    .mob-nav__container {
      transform: translateX(0);
      transition: transform .3s;
    }

  }

  @media screen and (min-width: $desktop){
    display: none;
  }
}


.mob-nav__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .3s;
  background: linear-gradient(0deg, rgba(34, 37, 59, .9), rgba(34, 37, 59, .9));
}

.mob-nav__container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  z-index: 1;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 22px 16px 34px 31px;
  transform: translateX(100%);
  transition: transform .3s;
}

.mob-nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: transparent;
}

.mob-nav__icon {
  width: 15px;
  height: 15px;
}

.mob-nav__list {
  margin-top: 17px;
  li:not(:last-child) {
    margin-bottom: 11px;
  }
}

.mob-nav__link{
  font-size: 20px;
  line-height: 1.5;
  transition: color $animation-cubic;

  &:hover,
  &:focus{
    color: $accent-orange;
  }
}

.mob-nav__login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 9px 17px 8px 12px;

  height: 49px;
  width: 132px;

  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  border-radius: 54px;
  color: white;
  background-color: $accent-blue;
  transition: background-color $animation-cubic;

  &:hover,
  &:focus {
    background-color: $accent-orange;
  }

  svg {
    width: 1.11em;
    margin-right: 8px;
  }
}
